@import "css3-mixins-lib";

body {
	background-color: #000;
}

.cabinet-module {
	width: 60vw;
	height: 60vw * 0.67;
	position: relative;
	margin: 0 auto;
	margin-top: 60px;
	overflow: hidden;
	background: rgba(120, 120, 180, 0.25);

	img {
		position: absolute;
		top: -5%;
		left: -5%;
		width: 110%;
		height: auto;
		&:nth-child(1) {
			z-index: 4;
		}
		&:nth-child(2) {
			z-index: 3;
		}
		&:nth-child(3) {
			z-index: 2;
		}
		&:nth-child(4) {
			z-index: 1;
		}
	}
}